<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This server provides a complete implementation of the FHIR Specification
			using a 100% open source software stack.
		</p>
		<p>
			This server is built
			from a number of modules of the
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			project, which is build for project needs, based on IG(Implementation Guide) each project.
			if you want to check somthing or question, you should contact us. using reference IG connectpoint with no hesitate.
		</p>
	</div>
</html>
